<!doctype html>
<html>
<head>
    <title>Home page</title>
    <link rel = "stylesheet" type ="text/css" href="../static/Style7.css">
</head> 
<body>
    <header>
        <div class ="main">
            <ul>
                <li class="active"><a href="/">Home</a></li>
            </ul>
        </div>
        
        </div>
        <div class = "title">
            <h1>WELCOME To My application</h1>

        </div>
        <div class = "login">

            <h1>Login Here</h1>
            <form>
                <p>Enter Username</p>
                <input type = "text" name = "" placeholder="Enter your Username">
                <p>Enter Password</p>
                <input type = "password" name = "" placeholder="Enter your Password">
                <input type = "submit" value ="Login">
                <a href="#">Lost your information?</a><br>

                <a href="#">Create an Account?</a>
                <li><a href="/reg">Register</a></li>
                
            </form>
        </div>

    </header>
</body>
</html>
