<!doctype html>
<html>
<head>
    <title>Registration page</title>
    <link rel = "stylesheet" type ="text/css" href="../static/Style7.css">
</head> 
<body>
    <header>
        <div class ="main">
            <ul>
                <li class="active"><a href="/">Home</a></li>
            </ul>
        </div>
        
        </div>
        <div class = "title">
            <h1>Register now</h1>

        </div>
        <div class = "login">

            <h1>Sign up now</h1>
            <form>
                <p>FirstN</p>
                <input type = "text" name = "" placeholder="Firstname">
                <p>lastN</p>
                <input type = "text" name = "" placeholder="Lastname">
                <p>Username</p>
                <input type = "text" name = "" placeholder="username">
                <p>Password</p>
                <input type = "text" name = "" placeholder="username">
                <p>Enter Password</p>
                <input type = "password" name = "" placeholder=" Password">
                <div class = "button">
                    <a href="/" class="btn">login</a>

                </div>

                
            </form>
        </div>

    </header>
</body>
</html>
